.body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

.container {
	position: relative;
	height: 100vh;
	background-color: #ffffff;
}

img {
	position: absolute;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	cursor: pointer;
}

.modal {
	position: absolute;
	z-index: 100;
	display: flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 8px 8px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	/*transform: translateX(-50%);*/
}

.modal--text {
	left: 40%;
	width: 200px;
	height: 30px;
}

.modal--time {
	left: 60%;
	width: 30px;
	height: 30px;
	font-weight: 700;
}

.green {
	color: #ffffff;
	background-color: #2f9e44;
}

.shake, .modal.alert {
	font-weight: 700;
	color: #ffffff;
	background-color: #e03131;
}
